In [1]:
a=6

In [2]:
a

6

In [3]:
b=7
a+b

13

In [ ]:
salary=int(input('Enter your monthly salary details to check for your loan Eligibility:'))
print(' You are eligible for 10,00000 Lakh rupees for a salary of:', salary)

In [6]:
welcome='we are altsense'

In [5]:
len(mu)

15

In [7]:
welcome.upper()

'WE ARE ALTSENSE'

In [8]:
welcome.capitalize()

'We are altsense'

In [9]:
age=24
name='sherlock'
company ='altsense'
print("my name is {} I am {} years old ,working in {}".format(name,age,company))

my name is sherlock I am 24 years old ,working in altsense

In [10]:
#One important string method: format()

# Example 1
print("Earth has {} planets".format(9))

# Example 2
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Earth has 9 planets
Does your dog bite?

In [11]:
new_str = "The man stepped over the moon."
new_str.split()

['The', 'man', 'stepped', 'over', 'the', 'moon.']