In [3]:
print("hello"*3)

hellohellohello

# Data types

##### strings

In [6]:
strings="hello"

In [7]:
strings.capitalize()

'Hello'

In [8]:
my= input()

this is my office

In [9]:
my

'this is my office'

In [1]:
my2=int(input())

45

In [2]:
my2

45

In [3]:
salary=int(input('Enter your monthly salary details to check for your loan Eligibility:'))

Enter your monthly salary details to check for your loan Eligibility:45555

In [ ]:
len()

In [4]:
age=24
name='sherlock'
company ='altsense'

In [5]:
print("my name is {} I am {} years old ,working in {}".format(name,age,company))

my name is sherlock I am 24 years old ,working in altsense

In [6]:
#One important string method: format()

# Example 1
print("Earth has {} planets".format(9))

# Example 2
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Earth has 9 planets
Does your dog bite?

In [7]:
new_str = "The man stepped over the moon."

In [8]:
new_str.split()

['The', 'man', 'stepped', 'over', 'the', 'moon.']

##### lists are one of the most common and basic data structures in Python
list is created with square brackets Lists can contain any mix and match of the data types you have seen so far Lists are Mutable

# Lists

In [9]:
list_of_random_things = [1, 3.4, 'a string', True]
list_of_random_things

[1, 3.4, 'a string', True]

In [10]:
type(list_of_random_things)

list

In [11]:
#Slicing in List
#When using slicing, it is important to remember that the lower index is inclusive and the upper index is exclusive
list_of_random_things[1:2]

[3.4]

In [12]:
#mutability
my_lst = [1, 2, 3, 4, 5]
print(my_lst)

[1, 2, 3, 4, 5]

In [13]:
my_lst[2]='name'

In [14]:
my_lst

[1, 2, 'name', 4, 5]

In [15]:
#membership operators
Countries = ['India', 'Pakistan', "US",'China','Canada']

In [17]:
'India' in Countries

True

# Tuples

In [18]:
#unpacking tuples
# 3 variables are assigned from the content of the tuple dimensions. This is called tuple unpacking
dimensions = 52, 40, 100
length, width, height = dimensions

In [19]:
# We can use tuple unpacking to assign the information from a tuple into multiple variables 
# without having to access them one by one and make multiple assignment statements

In [23]:
type(dimensions)

tuple

In [27]:
lis1=[3,4,5]

In [28]:
tup2=('lis1','lis2','lis3')

In [26]:
type(tup2)

tuple

In [29]:
print(tup2[0])

lis1

In [30]:
lis1

[3, 4, 5]

##### A set is a data type for mutable unordered collections of unique elements
One application of a set is to quickly remove duplicates from a list

# Set

In [31]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [32]:
fruit = {"strawberry", "apple", "banana", "grapes", "mango"}  # define a set

In [33]:
#Methods like union, intersection,difference are easy to perform in sets
fruit_1 = {"apple", "berry", "banana", "orange", "grapefruit"}  # define a set
fruit.difference(fruit_1)

{'grapes', 'mango', 'strawberry'}

##### __Dictionaries __
A dictionary is a mutable data type that stores mappings of unique keys to values

In [34]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [35]:
elements['hydrogen']

1

In [36]:
elements['hydrogen']=67

In [37]:
elements

{'carbon': 6, 'helium': 2, 'hydrogen': 67}

##### __Control Flow __
__If Statement __ if statement is a conditional statement that runs or skips code based on whether a condition is true or false

In [38]:
phone_balance = 4
if phone_balance < 5:
    
    phone_balance += 10
#    bank_balance -= 10
print(phone_balance)

14

In [39]:
salary=[100000,50000,40000,10000,25000,48000,80000,1250000]

In [40]:
for i in salary:
    if i > 99999:
        print('Hike for {} is {}'.format(i,i))
    else:
        print('Hike for {} is {}'.format(i,int(i*1.1)))

Hike for 100000 is 100000
Hike for 50000 is 55000
Hike for 40000 is 44000
Hike for 10000 is 11000
Hike for 25000 is 27500
Hike for 48000 is 52800
Hike for 80000 is 88000
Hike for 1250000 is 1250000

# __If, Elif, Else __

In [41]:
season='fall'

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

harvest the garden!

##### Loops
For Loops A for loop is used to "iterate", or do something repeatedly, over an iterable An iterable is an object that can return one of its elements at a time, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files

In [42]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [43]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

# Functions

In [44]:
# Defining Functions
def cylinder_volume(height, radius):
    pi = 3.14159
    return height * pi * radius ** 2

In [45]:
cylinder_volume(4,5)

314.159

In [46]:
# Defining Functions
def experience(exp):
    
    if exp < 3:
        return('Employee is in junior level')
        
    elif exp < 6:
        return('Employee is in Senior Role')
    
    elif exp < 9:
        return('Employee is in Lead Role')
    
    else:
        return('Employee is in Architect Role')

In [47]:
experience(4)

'Employee is in Senior Role'

In [48]:
multiply = lambda x:x**2

In [49]:
multiply(6)

36